/* Universal Selectors */
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, red, yellow);
  color: #fff;
  margin: 0px;
  border-radius: 20px;
}

/* Navigation Selectors */
nav {
  color: #fff;
  background-color: #000;
  text-align: center;
  display: block;
  font-size: 26px;
  word-spacing: 40px;
  font-variant: small-caps;
  font-weight: bold;
  font-family: monospace;
  margin: 0px 0px 20px 0px;
  padding: 2px;
  position: sticky;
  top: 0;
  height: 11vh;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-self: center;
  padding-bottom: 5px;
}

nav ul li {
  margin: 0px 40px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.underline-link:hover {
  color: #007bff;
}

.underline-link {
  position: relative;
}

.underline-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underline-link:hover::after {
  width: 60%;
}

/* Logo Selectors */
.logo {
  background: rgba(0, 0, 0, 0.8) url(Untitled\ design.png);
  background-size: contain;
  border: 10px solid black;
  height: 512px;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#logo-image {
  height: 158px;
  padding: 175px 0px 0px 475px;
}

/* Header Selectors */
header {
  color: #fff;
  padding: 20px;
  margin: 70px 10px 4px 10px;
  border: 2px solid #fff;
  background-color: #0c1116;
  border-radius: 20px;
  background: linear-gradient(to bottom, black, red);
}

#topic {
  font-family: Poppins;
  text-decoration: solid;
  font-weight: bolder;
  font-size: 40px;
  margin: 5px 0px 25px 0px;
}

#header-heading-1 {
  display: block;
  margin-right: 30px;
  color: red;
  justify-self: center;
  font-size: 54px;
}

#header-heading-2 {
  display: block;
  justify-self: center;
  font-size: 34px;
}

.header-description {
  font-size: 20px;
  font-family: Poppins;
  text-align: center;
}

#second-paragraph {
  margin: 25px 0px 40px 0px;
}

.anime-list {
  display: flex;
  font-size: 20px;
  justify-self: center;
  padding: 0px;
  font-weight: bolder;
  font-size: 20px;
}

.anime-list > a:hover {
  color: #000;
  justify-self: center;
}

/* Footer Selectors */
footer {
  height: 360px;
  background-color: black;
  background-origin: padding-box;
  border: 2px solid #fff;
  border-top: 4px solid white;
  border-radius: 40px;
  float: right;
  width: 98vw;
  margin: 10px 4px 0px 0px;
  justify-self: center;
}

.footer-navigation {
  text-align: center;
  word-spacing: 60px;
  font-size: 25px;
  font-style: 200px;
  font-variant: small-caps;
  text-transform: uppercase;
  justify-self: center;
}

#footer-logo {
  height: 70px;
  padding: 0px 0px 0px 0px;
  display: block;
  justify-self: center;
}

.footer-copyright {
  justify-self: center;
  display: block;
}

#footer-text {
  text-align: center;
}

#footer-ul {
  display: flex;
  list-style-type: none;
  padding-left: 680px;
}

.footer-links {
  height: 30px;
  width: 0px;
  display: flex;
}

#Youtube-link {
  height: 30px;
  display: flex;
  padding: 0px;
}

#Twitter-link {
  height: 30px;
  display: flex;
  padding: 0px 0px 0px 8px;
}

#Instagram-link {
  height: 30px;
  display: flex;
  padding: 0px 0px 0px 50px;
}
